table {
  width: 100%;
}
h1,
p {
  color: white;
  letter-spacing: 2px;
  font-size: 35px;
  margin-left: 10px;
}
p {
  font-size: 25px;
  color: rgb(95, 95, 95);
}
.mat-form-field {
  font-size: 14px;
  width: 80%;
}
th {
  color: rgb(147, 158, 207);
  font-size: 19px;
}

.cont {
  margin-top: 50px;
}
a{
 color: #000;
 text-decoration:none;
 &:hover{
  text-decoration:underline;
  cursor: pointer;
 }
}
