<div class="header">
  <img *ngIf="country" [src]="country.flagSrc | safeUrl: 'resourceUrl'" alt="" srcset="">
  <p>{{data?.country}}</p>
</div>
<div class="data">
  <div class="confirmed">

  </div>
  <div class="deaths">
    <p>Coronavirus Cases:
    </p>
    <p>
      
      {{data?.confirmed}}
    </p>
  </div>
</div>
<div class="chart">
  <ngx-charts-line-chart [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
    (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-line-chart>
</div>