img{
    width: 80px;
    height:70px;
    margin-right: 20px;
}
.header{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}